---
- name: Install essential packages
  apt:
    name:
      - build-essential
      - curl
      - wget
      - git
      - unzip
      - zip
      - software-properties-common
      - apt-transport-https
      - ca-certificates
      - gnupg
      - lsb-release
      - tree
      - make
      - cmake
    state: present

- name: Install extra packages
  apt:
    name: "{{ extra_packages }}"
    state: present
  when: extra_packages | length > 0
