---
- name: Notify bash users that shell role only configures zsh
  debug:
    msg: "Shell role only configures zsh. Set default_shell to 'zsh' to use this role."
  when: default_shell != "zsh"

- name: Install zsh
  apt:
    name: zsh
    state: present
  when: default_shell == "zsh"

- name: Check if oh-my-zsh is installed
  stat:
    path: "/home/{{ username }}/.oh-my-zsh"
  register: ohmyzsh
  when: default_shell == "zsh"

- name: Install oh-my-zsh
  become: true
  become_user: "{{ username }}"
  shell: |
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
  args:
    creates: "/home/{{ username }}/.oh-my-zsh"
  when: default_shell == "zsh" and not (ohmyzsh.stat.exists | default(false))

- name: Install zsh-autosuggestions plugin
  git:
    repo: https://github.com/zsh-users/zsh-autosuggestions
    dest: "/home/{{ username }}/.oh-my-zsh/custom/plugins/zsh-autosuggestions"
    depth: 1
    update: no
  become: true
  become_user: "{{ username }}"
  when: default_shell == "zsh"

- name: Install zsh-syntax-highlighting plugin
  git:
    repo: https://github.com/zsh-users/zsh-syntax-highlighting
    dest: "/home/{{ username }}/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"
    depth: 1
    update: no
  become: true
  become_user: "{{ username }}"
  when: default_shell == "zsh"

- name: Check if starship is installed
  command: which starship
  register: starship_check
  failed_when: false
  changed_when: false
  when: default_shell == "zsh"

- name: Install starship prompt
  shell: curl -sS https://starship.rs/install.sh | sh -s -- -y
  when: default_shell == "zsh" and starship_check.rc != 0

- name: Deploy .zshrc
  template:
    src: .zshrc.j2
    dest: "/home/{{ username }}/.zshrc"
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0644"
  when: default_shell == "zsh"

- name: Set zsh as default shell
  user:
    name: "{{ username }}"
    shell: /usr/bin/zsh
  when: default_shell == "zsh"
