[user]
    name = {{ git_name }}
    email = {{ git_email }}

[init]
    defaultBranch = main

[core]
    editor = vim
    autocrlf = input

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --oneline --graph --decorate --all
    unstage = reset HEAD --
    last = log -1 HEAD
