---
# --- Podman Client for connecting to Podman Desktop on Windows ---

- name: Install podman package from Ubuntu repos
  apt:
    name: podman
    state: present
    update_cache: yes

- name: Ensure pip is installed
  apt:
    name: python3-pip
    state: present

- name: Install podman-compose via pip
  pip:
    name: podman-compose
    state: present